@use "@/global/mixins" as *;

.chat-list {
    @include flex-column(0.5rem 0.5rem);
    @include transitionScrollbar;
    overflow-y: auto;
    flex-grow: 1;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

.chat-element-preview {
    @include flex(0.5rem 0.5rem);
    height: 4.5rem;
    cursor: pointer;
    border-radius: 1.25rem;
    gap: 0.5rem;
    transition: background-color 0.1s;
}

.chat-element-preview:hover {
    background-color: var(--search-color);
}

.chat-avatar {
    @include circle(var(--avatar-width));
    object-fit: cover;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering: -webkit-optimize-contrast; /* Chrome/Safari */
    image-rendering: crisp-edges;
}

.chat-preview {
    overflow: hidden;
}

.chat-info-bottom-line {
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
