.chat-list {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5rem 0.5rem;
    transition: --var1 .3s;
}

@property --var1 {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: var(--var1);
}

.chat-list:hover {
    --var1: #aaa;
}

.chat-element-preview {
    display: flex;
    align-items: center;
    height: 4.5rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 1.25rem;
    gap: 0.5rem;
}

.chat-element-preview:hover {
    background-color: #F4F4F5;
}

.chat-avatar {
    width: var(--width);
    height: var(--width);
    border-radius: var(--width);
    --width: 3.5rem;
}

.chat-preview {
    overflow: hidden;
}

.chat-info-bottom-line {
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
