@use "@/components/global/mixins" as *;

.button {
    @include flex(0 1rem);
    font-family: inherit;
    font-size: 1rem;
    height: 2.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;
    color: white;
    border: none;
    border-radius: 1rem;
    background-color: var(--primary-color);
    gap: 0.5rem;
}

.secondary {
    background-color: var(--background-color);
    border: 1px solid var(--search-color);
}

.button:hover {
    background-color: var(--primary-color-hover);
}

.secondary:hover {
    background-color: var(--search-color);
}

.button:active {
    background-color: var(--secondary-color);
}
