.popup-container {
  position: relative;
  display: inline-block;
}

.popup {
  background-color: var(--background-color);
  border-radius: 0.5rem;
  position: absolute;

  right: 0;
  top: 100%;
  margin-top: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  min-width: 8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 3;
}

.popup.visible {
  opacity: 1;
  visibility: visible;
}

.popup-li {
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.popup-li:hover {
  background-color: var(--search-color);
}
