.chat-info {
    height: var(--height-of-top-bars);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.chat-info-avatar {
    height: 2.5rem;
    width: 2.5rem;
}

.chat-title {
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.members-number {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: rgb(112, 117, 121);
}
