.chat-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    background-color: rgba(246, 135, 179, 0.53);
    overflow: hidden;
    gap: 0.25rem;
    padding-bottom: 0.5rem;
}

.chat-window-messages {
    width: 100%;
    align-items: center;
    overflow-y: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
}

.chat-window-input {
    display: flex;
    height: 100px;
}

.chat-content {
    min-height: min-content;
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--chat-content-width-responsive);
}
