@use "@/components/global/mixins" as *;

.send-message {
    @include flex;
    flex-shrink: 0;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: var(--message-background);
}

.send-message-padding {
    width: var(--chat-content-width-responsive);
    padding: var(--chat-window-padding);
}
